@import url(https://fonts.googleapis.com/css?family=Schoolbell);

#game{
  position:relative;
  max-width:960px;
  margin:30px auto;
  padding:25px;
  text-align:center;
  background-color:#3b3b3b;
  color:#fff;
}

/*****************/

.input{
  margin-bottom:50px;
}
.input input{
  width:150px;
  height:150px;
  background-color:transparent;
  border:5px solid #fff;
  border-radius:5px;
  margin:0px 5px;
  font-size:55px;
  text-align:center;
  color:#fff;
  font-family: 'Schoolbell', cursive;
  appearance:textfield;
}

.input .m1{
  background-color:red;
}
.input .m2{
    background-color:green;
}
.input .m3{
    background-color:orange;
}

/*****************/

.check{
  display:inline-block;
  background-color:#fff;
  color:#000;
  padding:15px 30px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.32) inset;
  border-radius:3px;
  font-size:22px;
  font-family: 'Schoolbell', cursive;
  cursor:pointer;
}
.check:active{
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.32) inset;
  transform: translateY(2px);
}

/*****************/

.row-top{
  margin-bottom:30px;
}
.row-bottom{
  overflow:auto;
  margin-top:15px;
}
.row-top p,.row-bottom p,.help-link,.close-help{
  font-size:30px;
	margin:0px;
	display:inline-block;
  font-family: 'Schoolbell', cursive;
}
.row-top .try,.row-bottom .score,.row-bottom .highscore{
  font-size:40px;
}

.help-link,.close-help{
  position:absolute;
  top:0px;
  right:0px;
  padding:5px 17px;
  cursor:pointer;
}

/*************************/

.modal{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
 	background-color:#3B653D;
  border:10px solid #9E613C;
  text-align:center;
  z-index:999;
  display:none;
}
.modal .m-row{
  position:absolute;
  left:0px;
	right:0px;
	top:50%;
	transform:translate(0%, -50%);  
  padding:0px 15px;
}
.modal .m-row p{
 	margin:0px;
	font-family: 'Schoolbell', cursive;
  color:#fff;
  font-size:25px;
}
.modal .m-row .message{
 	font-size:80px;
}
.modal .m-row .close-modal{
  display:inline-block;
  margin:30px 0px 0px;
  cursor:pointer;
  padding:5px 7px;
  border-bottom:2px solid #fff;
  font-size:35px;
}


.help.open{
	display:block;
}
.winlose.open{
	display:block;
}
